.page-taxonomy {
  #main {
    margin: 83px auto 10px;
  }
  h1#page-title {
    color: white;
    font-size: 3em;
    line-height: 0.9em;
    margin: 20px 0;
    position: absolute;
  }
  .views-row {
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
  }
  .views-field-title {
    background: #0C5446;
    padding: 7px 15px;
    a {
      color: #FFF;
      text-decoration: none;
    }
  }
  
  .views-field-nothing {
    background: rgba(247,247,218,.8);
    bottom: 0;
    display: none;
    position: absolute;
    width: 100%;
    
    .field-content {
      display: block;
      padding: 10px;
    }
    p:first-child {
      margin-top: 0;
    }
    p:nth-last-child(1) {
      margin-bottom: 0;
    }
    .link {
      text-align: right;
      a {
        color: #000;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

header {
  background-color: black;
  position: relative;
}

@media all and (min-width: 481px) {
  .page-taxonomy {
    #main {
      margin: 112px auto 10px;
    }
    h1#page-title {
    font-size: 5em;
    }

    .views-field-nothing {
      display: block;
    }
  }
}

@media all and (min-width: 770px) {
  .page-taxonomy {
    #main {
      margin: 10px auto;
    }
    h1#page-title {
      bottom: 0;
      left: 450px;
      color: white;
    }
  }
}

@media all and (min-width: 1200px) {
  .page-taxonomy {
    #main {
      margin: 10px auto;
    }
    .views-row-odd {
      @include grid-span(6, 1);
      clear: left;
      min-height: 403px;
    }
    .views-row-even {
      @include grid-span(6, 7);
      clear: right;
      min-height: 403px;
    }
    .panel-display {
      margin-bottom: 40px; position: relative;
    }
    .view-listings {
      position: inherit;
    }
    ul.pager {
        bottom: -33px;
        left: 39%;
        position: absolute;
        margin:  0;
        width: 350px;
    }
  }
}
