@import url(global/normalize.css);
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/mag\/sites\/all\/themes\/stacked\/sass\/custom\/_general\.scss}line{font-family:\000031}}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/mag\/sites\/all\/themes\/stacked\/sass\/custom\/_general\.scss}line{font-family:\000037}}
body {
  background-color: #16251f;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/mag\/sites\/all\/themes\/stacked\/sass\/custom\/_general\.scss}line{font-family:\0000312}}
.view-front-page .views-row {
  margin-bottom: 20px;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/mag\/sites\/all\/themes\/stacked\/sass\/custom\/_general\.scss}line{font-family:\0000317}}
.view-front-page .button {
  bottom: 0;
  margin-bottom: 17px;
  position: absolute;
  right: 11px;
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/mag\/sites\/all\/themes\/stacked\/sass\/custom\/_general\.scss}line{font-family:\0000324}}
.view-front-page .button a {
  text-decoration: none;
  background-color: #1e4e40;
  padding: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/mag\/sites\/all\/themes\/stacked\/sass\/custom\/_general\.scss}line{font-family:\0000329}}
.view-front-page .button a:link {
  color: #e2e6c9;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/mag\/sites\/all\/themes\/stacked\/sass\/custom\/_general\.scss}line{font-family:\0000336}}
#page {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(210, 105, 30, 0.5)), color-stop(6.38298%, rgba(210, 105, 30, 0.5)), color-stop(6.38298%, rgba(210, 105, 30, 0.25)), color-stop(8.51064%, rgba(210, 105, 30, 0.25)), color-stop(8.51064%, rgba(210, 105, 30, 0.5)), color-stop(14.89362%, rgba(210, 105, 30, 0.5)), color-stop(14.89362%, rgba(210, 105, 30, 0.25)), color-stop(17.02128%, rgba(210, 105, 30, 0.25)), color-stop(17.02128%, rgba(210, 105, 30, 0.5)), color-stop(23.40426%, rgba(210, 105, 30, 0.5)), color-stop(23.40426%, rgba(210, 105, 30, 0.25)), color-stop(25.53191%, rgba(210, 105, 30, 0.25)), color-stop(25.53191%, rgba(210, 105, 30, 0.5)), color-stop(31.91489%, rgba(210, 105, 30, 0.5)), color-stop(31.91489%, rgba(210, 105, 30, 0.25)), color-stop(34.04255%, rgba(210, 105, 30, 0.25)), color-stop(34.04255%, rgba(210, 105, 30, 0.5)), color-stop(40.42553%, rgba(210, 105, 30, 0.5)), color-stop(40.42553%, rgba(210, 105, 30, 0.25)), color-stop(42.55319%, rgba(210, 105, 30, 0.25)), color-stop(42.55319%, rgba(210, 105, 30, 0.5)), color-stop(48.93617%, rgba(210, 105, 30, 0.5)), color-stop(48.93617%, rgba(210, 105, 30, 0.25)), color-stop(51.06383%, rgba(210, 105, 30, 0.25)), color-stop(51.06383%, rgba(210, 105, 30, 0.5)), color-stop(57.44681%, rgba(210, 105, 30, 0.5)), color-stop(57.44681%, rgba(210, 105, 30, 0.25)), color-stop(59.57447%, rgba(210, 105, 30, 0.25)), color-stop(59.57447%, rgba(210, 105, 30, 0.5)), color-stop(65.95745%, rgba(210, 105, 30, 0.5)), color-stop(65.95745%, rgba(210, 105, 30, 0.25)), color-stop(68.08511%, rgba(210, 105, 30, 0.25)), color-stop(68.08511%, rgba(210, 105, 30, 0.5)), color-stop(74.46809%, rgba(210, 105, 30, 0.5)), color-stop(74.46809%, rgba(210, 105, 30, 0.25)), color-stop(76.59574%, rgba(210, 105, 30, 0.25)), color-stop(76.59574%, rgba(210, 105, 30, 0.5)), color-stop(82.97872%, rgba(210, 105, 30, 0.5)), color-stop(82.97872%, rgba(210, 105, 30, 0.25)), color-stop(85.10638%, rgba(210, 105, 30, 0.25)), color-stop(85.10638%, rgba(210, 105, 30, 0.5)), color-stop(91.48936%, rgba(210, 105, 30, 0.5)), color-stop(91.48936%, rgba(210, 105, 30, 0.25)), color-stop(93.61702%, rgba(210, 105, 30, 0.25)), color-stop(93.61702%, rgba(210, 105, 30, 0.5)), color-stop(100%, rgba(210, 105, 30, 0.5)));
  background-image: -webkit-linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 6.38298%, rgba(210, 105, 30, 0.25) 6.38298%, rgba(210, 105, 30, 0.25) 8.51064%, rgba(210, 105, 30, 0.5) 8.51064%, rgba(210, 105, 30, 0.5) 14.89362%, rgba(210, 105, 30, 0.25) 14.89362%, rgba(210, 105, 30, 0.25) 17.02128%, rgba(210, 105, 30, 0.5) 17.02128%, rgba(210, 105, 30, 0.5) 23.40426%, rgba(210, 105, 30, 0.25) 23.40426%, rgba(210, 105, 30, 0.25) 25.53191%, rgba(210, 105, 30, 0.5) 25.53191%, rgba(210, 105, 30, 0.5) 31.91489%, rgba(210, 105, 30, 0.25) 31.91489%, rgba(210, 105, 30, 0.25) 34.04255%, rgba(210, 105, 30, 0.5) 34.04255%, rgba(210, 105, 30, 0.5) 40.42553%, rgba(210, 105, 30, 0.25) 40.42553%, rgba(210, 105, 30, 0.25) 42.55319%, rgba(210, 105, 30, 0.5) 42.55319%, rgba(210, 105, 30, 0.5) 48.93617%, rgba(210, 105, 30, 0.25) 48.93617%, rgba(210, 105, 30, 0.25) 51.06383%, rgba(210, 105, 30, 0.5) 51.06383%, rgba(210, 105, 30, 0.5) 57.44681%, rgba(210, 105, 30, 0.25) 57.44681%, rgba(210, 105, 30, 0.25) 59.57447%, rgba(210, 105, 30, 0.5) 59.57447%, rgba(210, 105, 30, 0.5) 65.95745%, rgba(210, 105, 30, 0.25) 65.95745%, rgba(210, 105, 30, 0.25) 68.08511%, rgba(210, 105, 30, 0.5) 68.08511%, rgba(210, 105, 30, 0.5) 74.46809%, rgba(210, 105, 30, 0.25) 74.46809%, rgba(210, 105, 30, 0.25) 76.59574%, rgba(210, 105, 30, 0.5) 76.59574%, rgba(210, 105, 30, 0.5) 82.97872%, rgba(210, 105, 30, 0.25) 82.97872%, rgba(210, 105, 30, 0.25) 85.10638%, rgba(210, 105, 30, 0.5) 85.10638%, rgba(210, 105, 30, 0.5) 91.48936%, rgba(210, 105, 30, 0.25) 91.48936%, rgba(210, 105, 30, 0.25) 93.61702%, rgba(210, 105, 30, 0.5) 93.61702%, rgba(210, 105, 30, 0.5) 100%);
  background-image: -moz-linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 6.38298%, rgba(210, 105, 30, 0.25) 6.38298%, rgba(210, 105, 30, 0.25) 8.51064%, rgba(210, 105, 30, 0.5) 8.51064%, rgba(210, 105, 30, 0.5) 14.89362%, rgba(210, 105, 30, 0.25) 14.89362%, rgba(210, 105, 30, 0.25) 17.02128%, rgba(210, 105, 30, 0.5) 17.02128%, rgba(210, 105, 30, 0.5) 23.40426%, rgba(210, 105, 30, 0.25) 23.40426%, rgba(210, 105, 30, 0.25) 25.53191%, rgba(210, 105, 30, 0.5) 25.53191%, rgba(210, 105, 30, 0.5) 31.91489%, rgba(210, 105, 30, 0.25) 31.91489%, rgba(210, 105, 30, 0.25) 34.04255%, rgba(210, 105, 30, 0.5) 34.04255%, rgba(210, 105, 30, 0.5) 40.42553%, rgba(210, 105, 30, 0.25) 40.42553%, rgba(210, 105, 30, 0.25) 42.55319%, rgba(210, 105, 30, 0.5) 42.55319%, rgba(210, 105, 30, 0.5) 48.93617%, rgba(210, 105, 30, 0.25) 48.93617%, rgba(210, 105, 30, 0.25) 51.06383%, rgba(210, 105, 30, 0.5) 51.06383%, rgba(210, 105, 30, 0.5) 57.44681%, rgba(210, 105, 30, 0.25) 57.44681%, rgba(210, 105, 30, 0.25) 59.57447%, rgba(210, 105, 30, 0.5) 59.57447%, rgba(210, 105, 30, 0.5) 65.95745%, rgba(210, 105, 30, 0.25) 65.95745%, rgba(210, 105, 30, 0.25) 68.08511%, rgba(210, 105, 30, 0.5) 68.08511%, rgba(210, 105, 30, 0.5) 74.46809%, rgba(210, 105, 30, 0.25) 74.46809%, rgba(210, 105, 30, 0.25) 76.59574%, rgba(210, 105, 30, 0.5) 76.59574%, rgba(210, 105, 30, 0.5) 82.97872%, rgba(210, 105, 30, 0.25) 82.97872%, rgba(210, 105, 30, 0.25) 85.10638%, rgba(210, 105, 30, 0.5) 85.10638%, rgba(210, 105, 30, 0.5) 91.48936%, rgba(210, 105, 30, 0.25) 91.48936%, rgba(210, 105, 30, 0.25) 93.61702%, rgba(210, 105, 30, 0.5) 93.61702%, rgba(210, 105, 30, 0.5) 100%);
  background-image: -o-linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 6.38298%, rgba(210, 105, 30, 0.25) 6.38298%, rgba(210, 105, 30, 0.25) 8.51064%, rgba(210, 105, 30, 0.5) 8.51064%, rgba(210, 105, 30, 0.5) 14.89362%, rgba(210, 105, 30, 0.25) 14.89362%, rgba(210, 105, 30, 0.25) 17.02128%, rgba(210, 105, 30, 0.5) 17.02128%, rgba(210, 105, 30, 0.5) 23.40426%, rgba(210, 105, 30, 0.25) 23.40426%, rgba(210, 105, 30, 0.25) 25.53191%, rgba(210, 105, 30, 0.5) 25.53191%, rgba(210, 105, 30, 0.5) 31.91489%, rgba(210, 105, 30, 0.25) 31.91489%, rgba(210, 105, 30, 0.25) 34.04255%, rgba(210, 105, 30, 0.5) 34.04255%, rgba(210, 105, 30, 0.5) 40.42553%, rgba(210, 105, 30, 0.25) 40.42553%, rgba(210, 105, 30, 0.25) 42.55319%, rgba(210, 105, 30, 0.5) 42.55319%, rgba(210, 105, 30, 0.5) 48.93617%, rgba(210, 105, 30, 0.25) 48.93617%, rgba(210, 105, 30, 0.25) 51.06383%, rgba(210, 105, 30, 0.5) 51.06383%, rgba(210, 105, 30, 0.5) 57.44681%, rgba(210, 105, 30, 0.25) 57.44681%, rgba(210, 105, 30, 0.25) 59.57447%, rgba(210, 105, 30, 0.5) 59.57447%, rgba(210, 105, 30, 0.5) 65.95745%, rgba(210, 105, 30, 0.25) 65.95745%, rgba(210, 105, 30, 0.25) 68.08511%, rgba(210, 105, 30, 0.5) 68.08511%, rgba(210, 105, 30, 0.5) 74.46809%, rgba(210, 105, 30, 0.25) 74.46809%, rgba(210, 105, 30, 0.25) 76.59574%, rgba(210, 105, 30, 0.5) 76.59574%, rgba(210, 105, 30, 0.5) 82.97872%, rgba(210, 105, 30, 0.25) 82.97872%, rgba(210, 105, 30, 0.25) 85.10638%, rgba(210, 105, 30, 0.5) 85.10638%, rgba(210, 105, 30, 0.5) 91.48936%, rgba(210, 105, 30, 0.25) 91.48936%, rgba(210, 105, 30, 0.25) 93.61702%, rgba(210, 105, 30, 0.5) 93.61702%, rgba(210, 105, 30, 0.5) 100%);
  background-image: linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 6.38298%, rgba(210, 105, 30, 0.25) 6.38298%, rgba(210, 105, 30, 0.25) 8.51064%, rgba(210, 105, 30, 0.5) 8.51064%, rgba(210, 105, 30, 0.5) 14.89362%, rgba(210, 105, 30, 0.25) 14.89362%, rgba(210, 105, 30, 0.25) 17.02128%, rgba(210, 105, 30, 0.5) 17.02128%, rgba(210, 105, 30, 0.5) 23.40426%, rgba(210, 105, 30, 0.25) 23.40426%, rgba(210, 105, 30, 0.25) 25.53191%, rgba(210, 105, 30, 0.5) 25.53191%, rgba(210, 105, 30, 0.5) 31.91489%, rgba(210, 105, 30, 0.25) 31.91489%, rgba(210, 105, 30, 0.25) 34.04255%, rgba(210, 105, 30, 0.5) 34.04255%, rgba(210, 105, 30, 0.5) 40.42553%, rgba(210, 105, 30, 0.25) 40.42553%, rgba(210, 105, 30, 0.25) 42.55319%, rgba(210, 105, 30, 0.5) 42.55319%, rgba(210, 105, 30, 0.5) 48.93617%, rgba(210, 105, 30, 0.25) 48.93617%, rgba(210, 105, 30, 0.25) 51.06383%, rgba(210, 105, 30, 0.5) 51.06383%, rgba(210, 105, 30, 0.5) 57.44681%, rgba(210, 105, 30, 0.25) 57.44681%, rgba(210, 105, 30, 0.25) 59.57447%, rgba(210, 105, 30, 0.5) 59.57447%, rgba(210, 105, 30, 0.5) 65.95745%, rgba(210, 105, 30, 0.25) 65.95745%, rgba(210, 105, 30, 0.25) 68.08511%, rgba(210, 105, 30, 0.5) 68.08511%, rgba(210, 105, 30, 0.5) 74.46809%, rgba(210, 105, 30, 0.25) 74.46809%, rgba(210, 105, 30, 0.25) 76.59574%, rgba(210, 105, 30, 0.5) 76.59574%, rgba(210, 105, 30, 0.5) 82.97872%, rgba(210, 105, 30, 0.25) 82.97872%, rgba(210, 105, 30, 0.25) 85.10638%, rgba(210, 105, 30, 0.5) 85.10638%, rgba(210, 105, 30, 0.5) 91.48936%, rgba(210, 105, 30, 0.25) 91.48936%, rgba(210, 105, 30, 0.25) 93.61702%, rgba(210, 105, 30, 0.5) 93.61702%, rgba(210, 105, 30, 0.5) 100%);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/mag\/sites\/all\/themes\/stacked\/sass\/custom\/_general\.scss}line{font-family:\0000340}}
main {
  margin: 0 auto;
  max-width: 1500px;
}

@media all and (min-width: 680px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/mag\/sites\/all\/themes\/stacked\/sass\/custom\/_general\.scss}line{font-family:\0000349}}
  .aurora-section-first {
    width: 24.62979%;
    float: left;
    margin-right: -100%;
    margin-left: 28.25532%;
    clear: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/mag\/sites\/all\/themes\/stacked\/sass\/custom\/_general\.scss}line{font-family:\0000352}}
  .aurora-section-first .pane-block {
    display: block;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/mag\/sites\/all\/themes\/stacked\/sass\/custom\/_general\.scss}line{font-family:\0000356}}
  .aurora-section-second {
    width: 26.12766%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/mag\/sites\/all\/themes\/stacked\/sass\/custom\/_general\.scss}line{font-family:\0000359}}
  .aurora-section-third {
    width: 44.98723%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/mag\/sites\/all\/themes\/stacked\/sass\/custom\/_front\.scss}line{font-family:\000031}}
.front .aurora-section-first {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/mag\/sites\/all\/themes\/stacked\/sass\/custom\/_front\.scss}line{font-family:\000034}}
.front .aurora-section-first .pane-block {
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/mag\/sites\/all\/themes\/stacked\/sass\/custom\/_front\.scss}line{font-family:\000038}}
.front .aurora-section-first .pane-multimedia-panel-pane-1 {
  background-color: #f7f7da;
}

@media all and (min-width: 680px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/mag\/sites\/all\/themes\/stacked\/sass\/custom\/_front\.scss}line{font-family:\0000314}}
  .front .aurora-section-first {
    width: 24.62979%;
    float: left;
    margin-right: -100%;
    margin-left: 28.25532%;
    clear: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/mag\/sites\/all\/themes\/stacked\/sass\/custom\/_front\.scss}line{font-family:\0000317}}
  .front .aurora-section-first .pane-block {
    display: block;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/mag\/sites\/all\/themes\/stacked\/sass\/custom\/_front\.scss}line{font-family:\0000322}}
  .front .aurora-section-second {
    width: 26.12766%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/mag\/sites\/all\/themes\/stacked\/sass\/custom\/_front\.scss}line{font-family:\0000325}}
  .front .aurora-section-third {
    width: 44.98723%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/mag\/sites\/all\/themes\/stacked\/sass\/custom\/_terms\.scss}line{font-family:\000031}}
.page-taxonomy h1#page-title {
  position: absolute;
  top: 1.5em;
  left: 450px;
  font-size: 5em;
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/mag\/sites\/all\/themes\/stacked\/sass\/custom\/_terms\.scss}line{font-family:\000039}}
header {
  background-color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/mag\/sites\/all\/themes\/stacked\/sass\/global\/_extendables\.scss}line{font-family:\0000314}}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/mag\/sites\/all\/themes\/stacked\/sass\/global\/_extendables\.scss}line{font-family:\0000319}}
.clearfix:after {
  clear: both;
}

/**
* Typography: Headings, body text, lists, code, and more for a versatile and durable typography system.
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/mag\/sites\/all\/themes\/stacked\/sass\/global\/_type\.scss}line{font-family:\000035}}
body {
  font-family: "raleway", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/mag\/sites\/all\/themes\/stacked\/sass\/global\/_type\.scss}line{font-family:\0000324}}
h1 {
  font-family: "jaf-bernino-sans-comp", sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/mag\/sites\/all\/themes\/stacked\/sass\/global\/_type\.scss}line{font-family:\0000355}}
a:link {
  color: #2090b4;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/mag\/sites\/all\/themes\/stacked\/sass\/global\/_type\.scss}line{font-family:\0000359}}
a:visited {
  color: #2090b4;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/mag\/sites\/all\/themes\/stacked\/sass\/global\/_type\.scss}line{font-family:\0000382}}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/mag\/sites\/all\/themes\/stacked\/sass\/global\/_type\.scss}line{font-family:\00003105}}
hr {
  height: 1px;
  border: 1px solid #666;
  padding-bottom: -1px;
  margin: 1.5em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/mag\/sites\/all\/themes\/stacked\/sass\/global\/_type\.scss}line{font-family:\00003112}}
strong {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/mag\/sites\/all\/themes\/stacked\/sass\/global\/_type\.scss}line{font-family:\00003116}}
em {
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/mag\/sites\/all\/themes\/stacked\/sass\/global\/_type\.scss}line{font-family:\00003123}}
::-moz-selection {
  background: #66b360;
  color: white;
  text-shadow: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/mag\/sites\/all\/themes\/stacked\/sass\/global\/_type\.scss}line{font-family:\00003124}}
::selection {
  background: #66b360;
  color: white;
  text-shadow: none;
}

/**
* Form elements: Inputs, buttons, etc.
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/mag\/sites\/all\/themes\/stacked\/sass\/global\/_forms\.scss}line{font-family:\0000326}}
input,
button,
select,
textarea {
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
