.front .aurora-section-first {
  text-align: center;
  margin-bottom: 20px;

  img {
    margin: 0 auto;
  }

  .pane-block-1,
  .pane-block-5 {
    background: #000;
    margin-bottom: 35px;
  }

  .pane-block-1, 
  .pane-block-2,
  .pane-block-3 {
    display: none;
  }

  .pane-multimedia-panel-pane-1 {
    background-color: #f7f7da;

    a:link, a:visited {
      color: #16251f;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    ul {
      list-style: none;
      
      li {
        display: inline-block;
        width: 25%;
      }
    }

    .views-row {
      text-align: left;

      .views-field-field-image {
        float: left;
        padding: 10px;
        vertical-align: top;
        width: 102px;
      }

      .views-field-title {
        padding: 5px 10px 0 0;
      }

      .views-field-nothing {
        clear: left;
      }
    }
  }
}

.view-front-page .views-row {
  margin-bottom: 35px;
}

.pane-multimedia-panel-pane-1 .pager {
  margin-bottom: 0;
}

@media all and (min-width: 480px) {
  .front .aurora-section-second {
    @include grid-span(6, 1);
  }
  .front .aurora-section-third {
    @include grid-span(6, 7);
  }
}

@media all and (min-width: 800px) {
  .front .aurora-section-first {
    @include grid-span(3.144, 4.32);

    .pane-block-1, 
    .pane-block-2,
    .pane-block-3 {
      display: inherit;
    }
    .pane-block-5 {
      display: none;
    }
  }
  .front .aurora-section-second {
    @include grid-span(3.32, 1);
  }
  .front .aurora-section-third {
    @include grid-span(5.536, 7.464);
  }
}
