img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: #16251f;
}

.view-front-page {
  .views-row {
    margin-bottom: 20px;
    position: relative;
  }

  .button {
    bottom: 0;
    margin-bottom: 23px;
    position: absolute;
    right: 0.5em;
    text-align: right;
  
    a {
      text-decoration: none;
      background-color: #1e4e40;
      padding: 5px;
  
      &:link {
        color: #e2e6c9;
      }
    }
  }
}

.col1 {
  @include grid-span(4, 1);
}

.col2, .aurora-section-second {
  @include grid-span(3.5, 5);
  line-height: 12px;
}

.col3 {
  @include grid-span(4, 8.5);
}

#page {
  @include background-grid;
}

main {
  margin: 0 auto;
  max-width: 1500px;
}

.page-frontt {
  .aurora-section-first {
    text-align: center;
  }
  .aurora-section-second {
    @include grid-span(12, 1);
  }
}

@media all and (min-width: 680px) {
  .page-frontt {
    .aurora-section-first {
      @include grid-span(3.5, 5.25);
    }
    .aurora-section-second {
      @include grid-span(4.25, 1);
    }
    .aurora-section-third {
      @include grid-span(4.25, 8.75);
    }
  }
}