img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: #16251f;
}

.view-front-page {
  .views-row {
    margin-bottom: 20px;
    position: relative;
  }

  .button {
    bottom: 0;
    margin-bottom: 17px;
    position: absolute;
    right: 11px;
    text-align: right;
  
    a {
      text-decoration: none;
      background-color: #1e4e40;
      padding: 5px;
  
      &:link {
        color: #e2e6c9;
      }
    }
  }
}

#page {
  @include background-grid;
}

main {
  margin: 0 auto;
  max-width: 1500px;
}

.aurora-section-first {
  text-align: center;
  
  .pane-block {
    display: inline-block;
  }
}

@media all and (min-width: 680px) {
  .aurora-section-first {
    @include grid-span(3.144, 4.32);
  }
  .aurora-section-second {
    @include grid-span(3.32, 1);
  }
  .aurora-section-third {
    @include grid-span(5.536, 7.464);
  }
}