img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: #16251f;
}

.button {
  position: relative;
  right: 0.5em;
  text-align: right;
  top: -3.5em;
  margin-bottom: -1em;

  a {
    text-decoration: none;
    background-color: #1e4e40;
    padding: 5px;

    &:link {
      color: #e2e6c9;
    }
  }
}

.col1 {
  @include grid-span(4, 1);
}

.col2, .aurora-section-second {
  @include grid-span(3.5, 5);
  line-height: 12px;
}

.col3 {
  @include grid-span(4, 8.5);
}

#page {
  @include background-grid;
}

main {
  margin: 0 auto;
  max-width: 1500px;
}

.page-frontt {
  .aurora-section-first {
    @include grid-span(4, 4);
  }
  .aurora-section-second {
    @include grid-span(4, 1);
  }
  .aurora-section-third {
    @include grid-span(4, 8);
  }
}