.page-node {
  #main {
    background: #f7f7da;
    margin: 15px 0;
    padding: 15px;
  }
}

.node-type-article {
  #page-title {
    display: none;
  }
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.3em;
  }
  h3 {
    font-size: 1.2em;
  }
  
  .pane-article-node-article-title {
    clear: left;

    h1 {
      margin: 0;
    }
  }
  .pane-node-field-image {
    @include grid-span(7, 1);
  }
  .pane-related-articles-related-articles {
    @include grid-span(5, 8);

    .pane-title {
      margin: 0;
      padding: 0 5px;
    }
    .views-row {
      background: #16251f;
      margin: 5px 0;
      padding: 5px;

      a {
        color: #c0be9a;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
}