.page-node {
  #main {
    background: #FFF;
    margin: 15px 0;
    padding: 15px;
  }
}

.node-type-article {
  #page-title {
    display: none;
  }
  .pane-article-node-article-title {
    clear: left;

    h1 {
      font-size: 1.5em;
      margin: 0;
    }
  }
  .pane-node-field-image {
    @include grid-span(8, 1);
  }
  .social-icons {
    @include grid-span(4, 9);
  }
}