.page-node {
  #main {
    background: #F7F7DA;
    margin: 40px 0 15px;
    padding: 15px;
    position: relative;
  }
}

.node-type-article,
.node-type-multimedia {
  #page-title {
    display: none;
  }
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.3em;
  }
  h3 {
    font-size: 1.2em;
  }
  
  .pane-node-node-node-menu {
    position: absolute;
    top: -47px;

    .views-field {
      display: inline;
      font-weight: bold;
      margin-right: 15px;
      a {
        color: #F7F7DA;
        text-decoration: none;
      }
    }
    .views-field-nothing {
      display: none;
    }
  }
  .pane-node-node-title {
    clear: left;

    h1 {
      margin: 0;
    }
  }
  .pane-related-nodes-related-nodes {
    .pane-title {
      margin: 0;
      padding: 0 5px;
    }
    .views-row {
      background: #16251F;
      margin: 5px 0;
      padding: 5px;

      a {
        color: #CBC6AA;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
}

@media all and (min-width: 750px) {
  .node-type-article,
  .node-type-multimedia  {
    .pane-node-node-node-menu {
      .views-field-nothing {
        display: inline;
      }
    }
  }
}

@media all and (min-width: 750px) {
  .page-node {
    #main {
      margin: 15px 0;
    }
  }
  .node-type-article,
  .node-type-multimedia  {
    .pane-node-node-node-menu {
      left: 410px;
      top: -62px;
    }
  }
}

@media all and (min-width: 1120px) {
  .node-type-article,
  .node-type-multimedia  {
    .pane-node-field-image {
      @include grid-span(7, 1);
    }
    .pane-related-nodes-related-nodes {
      @include grid-span(5, 8);
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}