@import "compass/css3";

.listing {
  height: 100%;
}

.listing-text {
  visibility: hidden;
}

.is-hidden {
  @include transition(all 500ms ease-out);
  @include translateY(100%);
  @include opacity(0);
}

.is-shown {
  @include translateY(0);
  @include opacity(1);
  visibility: visible;
 }
