.page-taxonomy {
  h1#page-title {
    position: absolute;
    top: 1.5em;
    left: 450px;
    font-size: 5em;
    color: white;
  }
  .views-row-odd {
    @include grid-span(6, 1);
    clear: left;
    margin-bottom: 20px;
  }
  .views-row-even {
    @include grid-span(6, 7);
    clear: right;
    margin-bottom: 20px;
  }
  .views-field-title {
    background: #0C5446;
    padding: 7px 15px;
    a {
      color: #FFF;
      text-decoration: none;
    }
  }
  .views-field-view-node {
    text-align: right;
  }
}

header {
  background-color: black;
}


