.page-taxonomy {
  h1#page-title {
    position: absolute;
    top: 1.5em;
    left: 450px;
    font-size: 5em;
    color: white;
  }
  .views-row-odd {
    @include grid-span(6, 1);
    clear: left;
    margin-bottom: 20px;
  }
  .views-row-even {
    @include grid-span(6, 7);
    clear: right;
    margin-bottom: 20px;
  }
  .views-field-view-node {
    text-align: right;
  }
}

header {
  background-color: black;
}


