.page-taxonomy {
  h1#page-title {
    position: absolute;
    top: 1.5em;
    font-size: 5em;
    color: white;
  }
  .views-row {
    margin-bottom: 20px;
    position: relative;
  }
  .views-field-title {
    background: #0C5446;
    padding: 7px 15px;
    a {
      color: #FFF;
      text-decoration: none;
    }
  }
  
  .views-field-nothing {
    background: rgba(255,255,255,.45);
    bottom: 0;
    position: absolute;
    width: 100;
    
    .field-content {
      display: block;
      padding: 10px;
    }
    p:first-child {
      margin-top: 0;
    }
    p:nth-last-child(1) {
      margin-bottom: 0;
    }
    .link {
      text-align: right;
      a {
        color: #000;
        text-decoration: none;
      }
    }
  }
}

header {
  background-color: black;
}

@media all and (max-width: 481px) {
  .page-taxonomy {
    .views-field-nothing {
      display: none !important;
    }
  }
}

@media all and (min-width: 770px) {
  .page-taxonomy {
    h1#page-title {
      top: 1.5em;
      left: 450px;
      color: white;
    }
  }
}

@media all and (min-width: 1200px) {
  .page-taxonomy {
    .views-row-odd {
      @include grid-span(6, 1);
      clear: left;
    }
    .views-row-even {
      @include grid-span(6, 7);
      clear: right;
    }
  }
}
